<div class="contenedor-central">
  <button class="btn-add-team" (click)="createTeam()">Crear Equipo</button>
  <mat-paginator [length]="totalElements" [pageSize]="pageSize" [pageIndex]="page" [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons class="table">
  </mat-paginator>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Liga</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of teamList">
        <td>{{ team.id }}</td>
        <td>{{ team.teamName }}</td>
        <td>{{ team.league.league_name }}</td>
        <td>
          <button class="btn-edit" (click)="editTeam(team)">Editar</button>
        </td>
        <td>
          <button class="btn-delete" (click)="deleteTeam(team)">Borrar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>