<h2 mat-dialog-title>Crear Equipo</h2>
<mat-dialog-content [formGroup]="editForm" class="form-content">
  <div class="form-row">
    <mat-form-field class="form-field">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="teamName" autofocus>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Nombre liga</mat-label>
      <mat-select formControlName="league">
        <mat-option *ngFor="let league of leagueList" [value]="league.id">{{ league.league_name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button (click)="onSave()">Guardar</button>
</mat-dialog-actions>
